[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

keras = "*"
matplotlib = "*"
"glob2" = "*"
numpy = "*"
tensorflow = "*"
pillow = "*"
"h5py" = "*"
argparse = "*"
uuid = "*"


[dev-packages]



[requires]

python_version = "3.6"