[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

matplotlib = "*"
"glob2" = "*"
numpy = "*"
tensorflow = "*"
pillow = "*"
"h5py" = "*"
argparse = "*"
uuid = "*"
keras = "==2.1.2"


[dev-packages]



[requires]

python_version = "3.6"